<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-logo"></div>
    </header>
    <div class="main">
        <div class="some-text">
            <span class="heading1">Humanize AI text</span>
            <span class="heading2" style="margin-bottom: 0px;">Humanize AI text with the smartest AI humanizer</span>
            <span class="heading4" style="padding: 20px;">Transform your AI-generated content into natural, human-like text with the ultimate Humanize AI text tool. This ai-to-human text converter effortlessly converts output from ChatGPT, Bard, Jasper, Grammarly, GPT4, and other AI text generators into text indistinguishable from human writing. Achieve 100% originality and enhance your content creation with the best Humanize AI solution available.</span>
            <span class="coloums">
                <span class="coloum-content">Free</span>
                <span class="coloum-content">Academic</span>
                <span class="coloum-content">Office</span>
            </span>
            <button>Humanize AI</button>
        </div>
    </div>
    <footer></footer>
</body>
</html>